/* basic page setup */
html,
body {
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

/* banner image - on all pages */
.banner-img {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 5px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* about me text */
.center-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.about-me-container {
  font-size: 32px; 
  color: #19181B;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; 
  gap: 100px; 
  margin: 0 auto;
  max-width: 1200px; 
  text-align: left;
  margin-top: 30px;
  padding: 10px;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  text-align: left;
  font-size: 25px;
  margin-top: -40px;
}

.about-me-headshot {
  width: 400px;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* contact buttons */
.button-container-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -15px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.contact-button {
  background-color: transparent;
  color: #19181B;
  border: 2px solid #19181B;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
  background-color: #dcd7f8;
  color: #19181B;
}

.contact-form {
  width: 500px;
}

/* tabs */
.tabs {
  background-color: #dcd7f8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.tabs ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs li {
  margin: 0 10px;
}

.tabs a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #19181B;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.tabs a.active {
  background-color: #b8b1e36f;
  color: #19181B;
}

.tabs a:hover {
  background-color: #b8b1e36f;
  font-size: 22px;
  color: #19181B;
}

.demo-video {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

/* Responsive Design for Mobile */
@media (max-width: 1300px) {
  .about-me-container {
    margin: 50px 50px 100px 150px;
    grid-template-columns: 1fr;
  }

  .tabs a {
    font-size: 18px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .about-me-container {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 20px;
    font-size: 24px;
  }

  .about-me-headshot {
    margin-left: 0;
  }

  .banner-img {
    margin-top: 35px;
  }

  .contact-button {
    font-size: 20px;
    padding: 12px 30px;
  }

  .contact-form {
    width: 100%;
  }

  .tabs a {
    font-size: 16px;
    padding: 12px;
  }

  .tabs ul {
    justify-content: center;
  }

  .tabs li {
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .banner-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    margin: 0 auto;
    margin-top: 30px;
  }

  html,
  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .tabs ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .tabs li {
    flex-grow: 1;
    text-align: center;
    min-width: 0;
  }

  .tabs a {
    font-size: 12px;
    padding: 8px 5px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    padding: 0 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    overflow: hidden;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .about-me-text {
    text-align: center;
    padding: 0 10px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    font-size: 15px;
  }

  .about-me-text p {
    text-align: justify;
    padding: 0 10px;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    font-size: 15px;
  }

  .about-me-headshot {
    width: 75%;
    height: auto;
    margin: 0 auto 20px auto;
    margin-top: -100px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .contact-button {
    padding: 10px 20px;
    font-size: 14px;
    width: auto;
  }
}