.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.content-container {
  position: relative;
}

.video-container {
  width: 1200px;
  height: auto;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.animation-video {
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  background-color: #19181B;
  object-fit: cover;
  filter: brightness(100%);
  /** animation **/
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.middle-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.middle-button-text {
  background-color: #dcd7f8;
  color: #19181B;
  font-size: 16px;
  padding: 16px 32px;
}

.video-container:hover .animation-video,
.video-container:hover .middle-button~.animation-video {
  filter: brightness(50%);
}

.video-container:hover .middle-button {
  opacity: 1;
}

.text {
  font-size: 20px;
  color: #19181B;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /** animation **/
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.text h1 {
  margin-bottom: 0;
}

.text h4 {
  margin-top: 0;
}

/* Responsive Design for Mobile */
@media (max-width: 1200px) {
  .video-container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .middle-button-text {
    font-size: 14px;
    padding: 12px 24px;
  }

  .text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .middle-button-text {
    font-size: 12px;
    padding: 10px 20px;
  }

  .text {
    font-size: 16px;
  }

  .text h1, .text h4 {
    font-size: 20px;
  }
}
