.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease forwards;
}

.content-container {
  position: relative;
}

.video-container {
  width: 100%; 
  max-width: 600px; 
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #dcd7f8; 
  padding: 8px; 
  border-radius: 8px; 
  transition: transform 0.3s ease;
}

.demo-reel-container {
  width: 1000px;
  height: auto;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.animation-video {
  width: 100%; /* Full width of the video container */
  height: auto; /* Maintain aspect ratio */
  opacity: 1;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 8px; /* Optional: rounded corners */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.middle-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.middle-button-text {
  background-color: #dcd7f8;
  color: #19181B;
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 8px;
}

.video-container:hover .animation-video,
.video-container:hover .middle-button~.animation-video {
  filter: brightness(50%);
}

.video-container:hover .middle-button {
  opacity: 1;
}

/* Hover effect for the video */
.video-container:hover .animation-video {
  transform: scale(1.05); /* Slightly enlarge the video */
}

/* Optional: Hover effect for the video container */
.video-container:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
}

.text {
  font-size: 20px;
  color: #19181B;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  /** animation **/
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.text h1 {
  margin-bottom: 0;
}

.text h4 {
  margin-top: 0;
}

/* Responsive Design for Mobile */
@media (max-width: 1200px) {
  .video-container {
    width: 95%;
    margin: 0 auto;
  }

  .demo-reel-container {
      width: 70%;
      margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .middle-button-text {
    font-size: 14px;
    padding: 12px 24px;
  }

  .text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .middle-button-text {
    font-size: 12px;
    padding: 10px 20px;
  }

  .text {
    font-size: 16px;
  }

  .text h1, .text h4 {
    font-size: 20px;
  }
}
