.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 30px;
}

.project {
    font-size: 20px;
    color: #19181B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /** animation **/
    opacity: 0;
    animation: fadeIn 1s forwards;
    margin: -10px;
}

.infoText {
    padding: 0px 500px;
    font-size: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.project h1,
.project h3,
.project p {
    margin-bottom: 10px;
}

.button-container {
    margin-bottom: 10px;
}

.bridget-mp4 {
    width: 30%;
    height: auto;
}

.schedule-mp4 {
    width: 35%;
    height: auto;
}

.contact-button {
    font-size: 20px;
    padding: 10px 30px;
}

/* Mobile-Friendly Adjustments */
@media (max-width: 1200px) {
    .project {
        font-size: 16px;
        margin-left: 20px; 
        margin-right: 20px;
    }
    
    .bridget-mp4, .schedule-mp4 {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .project {
        font-size: 15px;
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .bridget-mp4, .schedule-mp4 {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .project {
        font-size: 14px;
        width: 95%; 
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .project h1,
    .project h3,
    .project p {
        margin-bottom: 8px;
    }
    
    .bridget-mp4, .schedule-mp4 {
        width: 100%; 
    }
    
    .button-container {
        margin-bottom: 8px;
    }
}

