.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 30px;
}

.project {
    font: verdana;
    font-size: 17px;
    color: #19181B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /** animation **/
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.project h1,
.project h3,
.project p {
    margin-bottom: 10px;
}

.button-container {
    margin-bottom: 10px;
}

.bridget-mp4 {
    width: 50%;
    height: auto;
}

.schedule-mp4 {
    width: 60%;
    height: auto;
}
